<phpunit bootstrap="vendor/autoload.php">
    <php>
        <ini name="DPD_CLIENT_NUMBER" value=""/>
        <ini name="DPD_CLIENT_KEY" value=""/>
    </php>

    <testsuites>
        <testsuite name="dpd-carrier">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>