<phpunit bootstrap="vendor/autoload.php">
    <php>
        <ini  name="DPD_CLIENT_NUMBER_PROD" value=""/>
        <ini  name="DPD_CLIENT_KEY_PROD" value=""/>
        <ini  name="DPD_CLIENT_NUMBER_TEST" value=""/>
        <ini  name="DPD_CLIENT_KEY_TEST" value=""/>
    </php>

    <testsuites>
        <testsuite name="dpd-carrier">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

</phpunit>